*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;  
 
}
/*  backround image */
.banner{
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../car1.jpg);
background-position: center;
background-size: cover;
position: relative;
}
/* logo and links */
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
   color: white;
   padding: 2vw;
   cursor: pointer;
   text-shadow: 0 2px 10px  rgb(22, 20, 20);
}
.navbar ul li{
    display: inline-block;
    padding: 2vw;
}
.navbar ul li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
}
/* links hover effct setting */
.navbar ul li a::after{
    content: '';
    position: absolute;
    bottom: 0%;
    height: 3px;
    left: 0%;
    width: 0%;
    background: #bbf6f0;
    transition: .5s;
    border-radius: 5px;

}
.navbar ul li a:hover::after{
    width: 100%;
} 
.content {
   position: absolute;
   width:100%;
   top:50%;
   transform:translateY(-50%);
   text-align: center;
   color: white;
   
}
/* center content  */
.content h1{
    font-size: 50px;
    padding: 20px;
}
.content p{
 margin-bottom: 30px;
}
button{
   padding: 10px;
   width: 170px;
   cursor: pointer;
   border-radius: 25px;
   background: transparent;
   color: white;
   border-color: white;
   position: relative;
   overflow: hidden;
}
/* button hover effect */
span{
 position: absolute;
 background-color: rgb(79, 76, 76);
 height: 100%;
 width: 0%;
 bottom: 0%;
 left: 0%;
 z-index: -1;
 transition: .5s;
 
}
button:hover span{
    width: 100%;
}